.content{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.relative{
    position: relative;
    
    margin-top: 100px;
    border-radius: 10px;
}

.content__add_film_modail{
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
    border-bottom: 0px solid transparent;
    border-radius: 0px 0px 15px 15px;
    background: white;
}

.content__add_film_modail__case{
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    span{
        display: block;
        font-family: Montserrat Regular;
        font-size: 	22px;
        font-weight: 600;
        margin-bottom:20px;
        margin-top:25px;
    }

    textarea{
        width: 500px;
        height: 100px;
        resize: none;
        border-radius: 5px;
        outline: none;
        border: 1px solid #d0e0eb;
        padding-left:10px;
    }
    textarea::placeholder{
        font-size: 16px;
        color: red;
    }

    input{
        padding-left:10px;
        font-size: 22px;
        font-family: Montserrat Regular;
    }
    input::placeholder{
        font-size: 16px;
        color: red;
    }
}

.input_add_film{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d0e0eb;
}

.button_case{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin:30px 50px 30px 100px;
}

.button{
    width: 140px;
    height: 40px;
    border:1px solid;
    border-radius: 25px;
    cursor:pointer;
    color: white;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.add{
    border-color: #2fa5e1;
    background:#6ecdfd ;
    -webkit-box-shadow: 0px 10px 10px 0px #6ecdfd;
    -moz-box-shadow: 0px 10px 10px 0px #6ecdfd;
    box-shadow: 0px 10px 10px 0px #6ecdfd ;
}

.add:hover{
    background-color: #2fa5e1;
}

.cencel{
    border-color: #ff695a;
    background:#ff7e70 ;
    -webkit-box-shadow: 0px 10px 10px 0px #ff7e70;
    -moz-box-shadow: 0px 10px 10px 0px #ff7e70;
    box-shadow: 0px 10px 10px 0px #ff7e70 ;
}

.cencel:hover{
    background:#ff695a ;
}

.off_modail{
    display: none !important;
}

.on_modail{
    display: flex !important;
}

.comment{
    cursor: pointer;
    user-select: none;
    position: relative;
    top: 85px;
    max-width: 1170px;
    border-radius: 0px 0px 10px 10px;
    
    
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #ff7e70;
    span{
        display: block;
        margin: 0 9%;
        padding: 40px 0;
        font-family: Montserrat Regular;
        font-size: 22px;
        
    }
}

.commet__case{
    span{
        border-top: 1px solid #e4edf4;
    }
}


.add_comment_case{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin: 0 9%;
    button{
        margin-top: 30px;
        cursor: pointer;
        outline:none;
    }

    input{
        cursor: pointer;
        height: 50px;
        outline:none;
        padding: 0 20px;
        border:2px solid #e4edf4;
        border-radius: 5px;
        font-family: Montserrat Regular;
        font-size: 22px;
    }

    input::placeholder{
        color: #bcbcbc;
    }
}

.off{
    display: none;
}



.comment_on{
    transform: rotate(180deg);
    animation-name: commet_on;
    animation-duration: 0.5s;
}

.comment_add{
    border-color: #2fa5e1;
    background: #6ecdfd;
    -webkit-box-shadow: 0px 10px 10px 0px #6ecdfd;
    -moz-box-shadow: 0px 10px 10px 0px #6ecdfd;
    box-shadow: 0px 10px 10px 0px #6ecdfd;
}

.comment_add:hover{
    background:#2fa5e1;
}


@keyframes commet_on {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(180deg);
    }
}


@media (max-width:1500px){
    .relative{
        background: #97969573;
    }

    .content{
        align-items: center;
        justify-items: center;
        margin-left:0;
    }

    .comment{
        max-width: 100%;
        width: 100%;
    }

    .relative{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:1200px) {
    .content{
        margin: 0 4%;
        .case_film{
            flex-direction: column;
            justify-items: center;
            align-items: center;
            margin: 0;
        }
    }    
}



