.modail_edit{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    color:black;
    z-index: 999 ;
    border-radius: 10px;

    .content__add_film_modail__case{
        flex-direction: row;
        justify-content: space-around;

        div{
            input{
                width: 100%;
            }

            textarea{
                width: 100%;
            }
        }
    }
}