.modail_edit{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    color:black;
    z-index: 999 ;
    border-radius: 10px;
    border:0.5px solid #00000065;

    .content__add_film_modail__case{
        flex-direction: row;
        justify-content: space-around;

        div{
            input{
                width: 100%;
            }

            textarea{
                width: 100%;
            }
        }
    }
}

@media (max-width:1200px){
    .content__add_film_modail__case{
        flex-wrap: wrap;
        padding: 0

    }

    .button_case{
        margin: 30px auto;
    }
    .content__add_film_modail__case {
        div {
            input{
                width: 90% !important ;
            }
        }

        textarea{
            width: 90% !important;
        }
    }

}