.bg_labr{
    height: 700px;
    overflow:  hidden;
    width: 1170px;
    border:0px solid transparent;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background: no-repeat;
    filter: blur(10px); 
    position: absolute;
    z-index: 0;
    object-fit: cover;
};

.content__film_labr{
    position: relative;
};



.case_film{
    display: flex;
    flex-direction: row;
    width: 960px;
    height: 540px;
    margin: 80px 100px;
    position: relative;
    z-index: 2;
    color:white;
    top: 50px;
};

.case_film__poster{
    width: 330px;
    height: 440px;
};

.case_film__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    position: relative;
};

.titul{
    display: flex;
    font-family: Montserrat Regular;
    font-size: 48px;
};

.info_film{
    font-family: Montserrat Regular;
    font-size: 22px;
};

.case_film__info__table{
    margin-top: 20px;
    border-spacing:0 10px;
    tr{

        th{
            width: 50%;
        };
        
        th:first-child{
            font-family: Montserrat Regular;
            text-align: start;
        };

        th:last-child{
            font-family:MontserraBold;
            text-align: start;
        };
    };
};

.delete{
    border-color: #ff695a;
    background:#ff7e70 ;
    -webkit-box-shadow: 0px 10px 10px 0px #ff7e70;
    -moz-box-shadow: 0px 10px 10px 0px #ff7e70;
    box-shadow: 0px 10px 10px 0px #ff7e70 ;
};

.delete:hover{
    background:#ff695a ;
};

.edit{
    border-color: #2fa5e1;
    background:#6ecdfd ;
    -webkit-box-shadow: 0px 10px 10px 0px #6ecdfd;
    -moz-box-shadow: 0px 10px 10px 0px #6ecdfd;
    box-shadow: 0px 10px 10px 0px #6ecdfd ;
};

.edit:hover{
    background-color: #2fa5e1;
};

.button_case_film{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    position: relative;
    bottom: 0;
};


@media (max-width:1500px){
    .content__film_labr{
        width: 90%;
    }
    .case_film{
        width: 90%;
        height: 100%;
    }

    .bg_labr{
        width: 100%;
        
    }   
}

@media (max-width: 500px){
    .case_film__info{
        margin-left: 0;

        
    }

    .case_film__poster{
        width: 100%;
        height: 100%;
    }
}